<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <title>Passagens voadoras</title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/images/logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">

                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="/aviao" class="navbar-link">
                        Avião
                    </a>

                    <div class="navbar-dropdown">
                        <a href="/aviao/cadastrar" class="navbar-item">
                            Cadastrar
                        </a>
                        <hr class="navbar-divider">
                        <a href="/aviao/consultar" class="navbar-item">
                            Consultar
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="/voo" class="navbar-link">
                        Voos
                    </a>

                    <div class="navbar-dropdown">
                        <a href="/voo/cadastrar" class="navbar-item">
                            Cadastrar
                        </a>
                        <hr class="navbar-divider">
                        <a href="/voo/consultar" class="navbar-item">
                            Consultar
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="/passagem/" class="navbar-link">
                        Passagem
                    </a>

                    <div class="navbar-dropdown">
                        <a href="/passagem/comprar" class="navbar-item">
                            Comprar
                        </a>
                        <hr class="navbar-divider">
                        <a href="/passagem/consultar" class="navbar-item">
                            Consultar
                        </a>
                        <hr class="navbar-divider">
                        <a href="/passagem/checkin" class="navbar-item">
                            Check-in
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="/relatorio/" class="navbar-link">
                        Relatórios
                    </a>

                    <div class="navbar-dropdown">
                        <a href="/relatorio/ocupacao" class="navbar-item">
                            Ocupação
                        </a>
                        <hr class="navbar-divider">
                        <a href="/relatorio/vendas" class="navbar-item">
                            Vendas
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <%= title %>
                </h1>
                <h2 class="subtitle">
                    <%= subtitle %>
                </h2>
            </div>
        </div>
    </section>
</body>