<%- include ../header -%>

<body>
  <div class="container is-widescreen">
    <div class="notification">
      <div class="columns">
        <div class="column is-one-thirds"> </div>
        <div class="column">
          <h2 class="title is-2">Cadastro de avião</h2>
        </div>
        <div class="column"> </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column">
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="number" placeholder="Número de registro do avião">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Modelo">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column"></div>
    </div>

    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column">
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="number" placeholder="Quantidade de assentos">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="number" placeholder="Quantidade de assentos especiais">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column"></div>
    </div>

    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column is-one-quarter"><button class="button is-success is-medium">Enviar</button></div>
      <div class="column is-one-quarter"></div>
      <div class="column is-one-quarter"></div>
    </div>
</body>

<%- include ../footer -%>